{% extends 'targetpulse/base.html' %}
{% load static %}
{% block title %}{{ task.title }} - TargetPulse{% endblock %}
{% block content %}
<h1>{{ task.title }}</h1>
<div class="task-detail">
    <p><strong>Описание:</strong> {{ task.description }}</p>
    <p><strong>Статус:</strong> {{ task.status }}</p>
    <p><strong>Приоритет:</strong> {{ task.priority }}</p>
    <p><strong>Дедлайн:</strong> {{ task.deadline|default:"Нет" }}</p>
    <p><strong>Назначено:</strong> {{ task.user|default:"Никому" }}</p>
    <p><strong>Прогресс:</strong> {{ task.progress }}%</p>
    {% if user.groups.first.name == "Manager" or user == task.creator %}
        <a href="{% url 'task_edit' task.id %}" class="btn btn-edit">Редактировать задачу</a>
        <a href="{% url 'task_delete' task.id %}" class="btn btn-delete">Удалить задачу</a>
    {% endif %}
    {% csrf_token %}
</div>
{% endblock %}